/* ==========================================================================
   -- Home
   ========================================================================== */

    #template > .page-header
        padding-bottom 40px

    #todo_input
        margin-bottom 20px

    i.glyphicon
        color #337ab7
        cursor pointer
