/* ==========================================================================
   -- Home
   ========================================================================== */

#template
    font-family 'arial'

    h1
        width 100%
        display block
        margin-bottom 30px

    #todo_input
        margin-bottom 30px

        input
        button
            box-sizing()
            padding 0
            margin 0 auto
            border 0
            height 50px
            line-height 50px
            float left

        input
            border 1px solid alpha(gray, .5)
